<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Conta</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="icon" href="static/images/bolsa-de-compras.png">
    <link rel="stylesheet" href="static/css/index.css">
</head>
<body class="bg-gray-100 flex flex-col min-h-screen">
    <!-- Navbar -->
    <nav class="bg-white shadow-md">
        <div class="container mx-auto px-4 py-2 flex justify-between items-center">
            <h1 class="text-2xl font-bold text-red-600">E-commerce</h1>
            <ul class="flex space-x-4">
                <li><a href="/" class="text-gray-700 hover:text-red-600">Página Inicial</a></li>
                <li><a href="{{ url_for('main.admin') }}" class="hover:text-orange-500">Admin</a></li>
                <li><a href="{{ url_for('main.logout') }}" class="hover:text-orange-500">Sair</a></li>
            </ul>
        </div>
    </nav>

    <!-- Main Content -->
    <main class="flex-grow container mx-auto px-4 py-8">
        <h2 class="text-2xl font-bold mb-4">Editar Conta</h2>
        <form action="{{ url_for('main.edit_account') }}" method="POST"> <!-- Formulário adicionado -->
            <div class="mb-4">
                <label for="username" class="block text-gray-700">Nome de Usuário:</label>
                <input type="text" id="username" name="username" value="{{ user.username }}" required class="mt-1 block w-full border border-gray-300 rounded-md p-2" />
            </div>
            <div class="mb-4">
                <label for="email" class="block text-gray-700">Email:</label>
                <input type="email" id="email" name="email" value="{{ user.email }}" required class="mt-1 block w-full border border-gray-300 rounded-md p-2" />
            </div>
            <div class="mb-4">
                <label for="password" class="block text-gray-700">Nova Senha (deixe em branco para manter a atual):</label>
                <input type="password" id="password" name="password" class="mt-1 block w-full border border-gray-300 rounded-md p-2" />
            </div>
            <div class="mb-4">
                <button type="submit" class="w-full bg-red-600 text-white py-2 rounded-md hover:bg-red-500">Salvar Alterações</button>
            </div>
        </form> <!-- Fechando o formulário -->
    </main>

    <!-- Footer -->
    <footer class="bg-gray-200 py-4 shadow-inner">
        <div class="container mx-auto px-4 text-center">
            <p class="text-gray-500 text-sm">&copy; 2024 E-commerce. Todos os direitos reservados.</p>
        </div>
    </footer>

    <!-- JavaScript -->
    <script src="static/scripts/index.js"></script>
</body>
</html>